# Environment Variables.
# Copy this file to `.env` and enter your personal configuration details.

# Stripe API keys.
# Use your test keys for development and live keys for real charges in production.
# For non-card payments like iDEAL, live keys will redirect to real banking sites.
STRIPE_PUBLISHABLE_KEY=
STRIPE_SECRET_KEY=